{% extends "base.html" %}

{% load static %}

{% block content %}
<div class="w-25 p-3 mx-auto">
    <h3>Форма обратной связи</h3>
</div>
<div class="w-50 p-3 mx-auto">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if form.errors %}
        {% for error in form.errors %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
<form method="post", action="" enctype="multipart/form-data">
    {% csrf_token %}
    {{ feedback_form.as_p }}
    {{ feedback_author.as_p }}
    {{ files_form.as_p }}
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>
</div>

{% endblock%}