{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="w-50 p-3 mx-auto">
    <h2>Список оценок пользователя</h2>
</div>
<div class="w-50 p-3 mx-auto">
    <p>Средняя оценка: {{ avg_rating }}</p>
    <p>Количество отзывов: {{ rating_count }}</p>
    <p>Товар с максимальной оценкой: 
    {{ max_rating_user.score }}
    {% include "includes/item_card.html" with item=max_rating_user.item %}</p>
    <p>Товар с минимальной оценкой:
    {{ min_rating_user.score }}
    {% include "includes/item_card.html" with item=min_rating_user.item %}</p>
</div>
{% endblock content %}