{% load static %}
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  {% for item in items %}
  <div class="col">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ item.name|capfirst }}</h5>
        <p class="card-text">{{ item.text|safe|truncatewords_html:10 }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Категория:
          <span class="border border-3 border-info bg-info rounded-2 text-white"
            >{{ item.category.name }}</span
          >
        </li>
        <li class="list-group-item">
          Тег: {% for i in item.tags.all %}<span
            class="border border-3 border-primary bg-primary rounded-2 text-white"
            >{{ i }}</span
          >{% endfor %}
        </li>
      </ul>
      <div class="card-body">
        <a href="{% url 'catalog:item-detail' item.id %}" class="card-link"
          >Подробнее</a
        >
      </div>
    </div>
  </div>
  {% empty %} Пустой список, ошибка!!! {% endfor %}
</div>
