<div class="w-25 p-3 mx-auto">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-info" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if errors %}
        {% for error in errors %}
            <div class="alert alert-info" role="alert">
                {{ error }}
            </div>
        {% endfor %}
    {% endif %}
    {% if form.errors %}
        {% for error in form.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
    {% endif %}
</div>
<form method="post" action="{% url "users:signup" %}" class="w-25 p-3 mx-auto">
    {% csrf_token %}
    {% for form in forms %}
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>{% if field.field.required %}<span>*</span>{% endif %}
                <br>
                {{ field }}
                <br>
                {% if field.help_text %}
                    <small id="{{ field.id_for_label}}-help">
                        {{field.help_text|safe}}
                    </small>
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
    <br>
    <button type="submit" class="btn btn-primary">Cохранить</button>
</form>