{% extends "base.html" %} {% block content %}
<div class="w-25 p-3 mx-auto">
    <h3>Форма обратной связи</h3>
</div>
<bl>
<div class="w-50 p-3 mx-auto">
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-info" role="alert">
            {{ message }}
        </div>
    {% endfor %}
{% endif %}
{% if form.errors %}
    {% for error in form.errors %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endfor %}
{% endif %}
<form method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <div class="d-grid gap-2 col-6 mx-auto">
        <button type="submit" class="btn btn-primary">Отправить</button>
    </div>
</form>
</div>
{% endblock %}