{% extends "base.html" %} {% block content %} {% load static %}
<div class="text-center">
  <h3>О проекте</h3>
  <img
    src="{% static 'img/about.png' %}"
    class="rounded"
    alt="Enot"
    width="500px"
  />
</div>
<div class="w-25 p-3 mx-auto">
  <p class="text-center">
    «Шестёрочка» — российская сеть продовольственных магазинов «у дома» 
    в составе компании X6 Group. Объединяет 21 500 магазинов, 
    обслуживаемых 39 распределительными центрами по итогу 2024 года
  </p>
</div>
{% endblock %}