{% load static %}

<footer class="footer-year text-center" style="position: fixed; bottom: 0; width:100%;">
  <div class="justify-content-center py-1 bg-light text-black">
    
    <script>
      document.addEventListener('DOMContentLoaded', function() {
       var currentYear = new Date().getFullYear();
       document.getElementById('currentYear').textContent = currentYear;
      });
      </script>
    <p> © <span id="currentYear">{% now "Y" %}</span> Mike Veretennikov </p>
  </div>
</footer>