{% load static %}
{% load i18n %}

<header>
  <nav class="navbar navbar-light bg-light">
    
      {% with request.resolver_match.view_name as view_name %}
      <ul class="nav justify-content-center">

        <a href="{% url 'homepage:index-page' %}">
          <img src="{% static 'files/favicon-48x48.png' %}"  class="d-inline-block align-right" alt="">
        </a>

        <li class="nav-item">
          <a class="nav-link {% if view_name == 'homepage:index-page' %}disabled{% endif %}" href="{% url 'homepage:index-page' %}">{% trans 'MainPageHeading' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'about:index-page' %}disabled{% endif %}" href="{% url 'about:index-page' %}">{% trans 'AboutProjectHeading' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'catalog:index-page' %}disabled{% endif %}" href="{% url 'catalog:index-page' %}">{% trans 'CatalogHeading' %}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'feedback:feedback-page' %}disabled{% endif %}" href="{% url 'feedback:feedback-page' %}">Обратная связь</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if view_name == 'catalog:friday-page' %}disabled{% endif %}" href="{% url 'catalog:friday-page' %}">Пятница</a>
        </li>
        
        {% if user.is_authenticated and user.is_staff %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'admin:index' %}">Админка</a>
          </li>
        {% endif %}

      </ul>
      {% endwith %}


  </nav>
  

  

</header>
