{% load static %}
{% load i18n %}
<div class="container">
<header
class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom"
>
    <a
    href="{% url 'homepage:index-page' %}"
    class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
    >
    <img
    class="bi me-2"
    width="40"
    height="32"
    role="img"
    alt="Icon"
    src="{% static 'img/favicon.svg' %}"
    />
    </a>
  {% with request.resolver_match.view_name as view_name %}
  <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
    <li>
      <a {% if view_name != "homepage:index-page" %} href="{% url 'homepage:index-page' %}"{% endif %} class="nav-link px-2 link{% if view_name == 'homepage:index-page' %}-secondary active{% endif %}">Главная</a>
    </li>
    <li>
      <a {% if view_name != "catalog:index-page" %} href="{% url 'catalog:index-page' %}"{% endif %} class="nav-link px-2 link{% if view_name == 'catalog:index-page' %}-secondary active{% endif %}">Каталог</a
      >
    </li>
    <li>
      <a {% if view_name != "about:index-page" %} href="{% url 'about:index-page' %}"{% endif %} class="nav-link px-2 link{% if view_name == 'about:index-page' %}-secondary active{% endif %}">О проекте</a>
    </li>
    <li>
      <a {% if view_name != "feedback:feedback" %} href="{% url 'feedback:feedback' %}"{% endif %} class="nav-link px-2 link{% if view_name == 'feedback:feedback' %}-secondary active{% endif %}">Обратная связь</a>
    </li>
    <li>
      <a {% if view_name != "catalog:friday-page" %} href="{% url 'catalog:friday-page' %}"{% endif %} class="nav-link px-2 link{% if view_name == 'catalog:friday-page' %}-secondary active{% endif %}">Пятница</a>
    </li>
    <li>
      <a {% if view_name != "users:user-list" %} href="{% url 'users:user-list' %}"{% endif %} class="nav-link px-2 link{% if view_name == 'users:user-list' %}-secondary active{% endif %}">Список пользователей</a>
    </li>
    {% if request.user.is_authenticated %}
    <li>
      <a {% if view_name != "users:user-profile" %} href="{% url 'users:user-profile' %}"{% endif %} class="nav-link px-2 link{% if view_name == 'users:user-profile' %}-secondary active{% endif %}">Профиль</a>
    </li>
    {% else %}
    <li>
      <a {% if view_name != "users:login" %} href="{% url 'users:login' %}"{% endif %} class="nav-link px-2 link{% if view_name == 'users:login' %}-secondary active{% endif %}">Вход</a>
    </li>
    {% endif %}
    {% if request.user.is_superuser %}
    <li>
      <a href="{% url 'admin:index' %}" class="btn btn-outline-primary"> Админка</a>
    </li>
    {% endif %}
  </ul>
  {% endwith %}
</header>
</div>