{% load static %}
{% load i18n %}


<div class="card card_main me-2">
  <img class="card-img-top" src="{{ item.main_image.image.url }}">
  <div class="card-body">
    <h5 class="card-title">{{ item.name }}</h5>
    <h7 class="card-title">Категория</h5>

    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ item.category.name }}</li>
    </ul>
    
    <p class="card-text">{{ item.text|safe|truncatewords_html:10 }}</p>
    
    <h7 class="card-title">Теги</h5>

    <ul class="list-group list-group-flush">
    {% for tag in item.tags.all %}
        <li class="list-group-item">{{ tag }}</li>
    {% endfor %}
    </ul>

    <a href="{% url 'catalog:default-converter-page' item.id %}" class="btn btn-primary">{% trans "MoreButton" %}</a>
  </div>
</div>