{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block content %}
<div class="text-center">
  <h1>Главная страница</h1>
  <img
    src="{% static 'img/raccoon.jpg' %}"
    class="rounded"
    alt="Enot"
    width="500px"
  />
</div>
<div class="album py-5 bg-light">
  <div class="container">
    <br />
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      {% for item in items %}
        {% include "includes/item_card.html" with item=item%}
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}